
/* body {
    height: fit-content;
}; */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 75px 5px;
    height: 125px;
    background-color: #DC4C64;
    color: aliceblue;
};

.display-card {
    display: flex;
    align-items: center;
    justify-content: center;
};

/* .card {

}; */